{{ define "main" }}
  <h1>{{ .Title }}</h1>

  <p>
    GitHub repo:
    <a href="{{ site.Params.repo }}">{{ site.Params.repo }}</a>
  </p>

  <h2>Stats</h2>

  <p>On the DOMContentLoaded event, the JSON index is fetched, and Fuse.js is instantiated.</p>

  <table class="table table-bordered table-success">
    <thead>
      <tr>
        <th scope="col">Thing</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">JSON index fetch time</th>
        <td id="json_index_fetch_time"></td>
      </tr>
      <tr>
        <th scope="row">JSON index content encoding</th>
        <td id="json_index_content_encoding"></td>
      </tr>
      <tr>
        <th scope="row">JSON index content size (if this is 0, hard-refresh the page)</th>
        <td id="json_index_content_size"></td>
      </tr>
      <tr>
        <th scope="row">JSON index array length</th>
        <td id="json_index_array_length"></td>
      </tr>
      <tr>
        <th scope="row">Fuse.js instantiation time</th>
        <td id="fusejs_instantiation_time"></td>
      </tr>
    </tbody>
  </table>

  <p>On every keyup event, Fuse.js is queried, and the hits are rendered.</p>

  <table class="table table-bordered table-success">
    <thead>
      <tr>
        <th scope="col">Thing</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Search event time</th>
        <td id="search_event_time"></td>
      </tr>
      <tr>
        <th scope="row">Hit count</th>
        <td id="hit_count"></td>
      </tr>
    </tbody>
  </table>

  <h2>Search</h2>

  {{ partial "search.html" . }}
{{ end }}
